{% extends "base.html" %}

{% block content %}
<h1>
    Data Example Page
</h1>
<body>
    <b>
        This is an example page of how flask with python <br>
        can handle taking in data types. <br><br>
        This example takes in two strings (a string to parse and <br>
        a set of delimiters) and parses them into a list object. <br>
        The web page will then display them for us to see. <br><br>
    </b>
    <div>
        <form method="POST">
            <b>Example of string parsing</b> <br><br>
            <input type="text" name="string_input" placeholder="input string"><br>
            <input type="text" name="delim_input" placeholder="delimiters"><br>
            <input type="submit" value="Parse"><br>
        </form>

        {% if parsed_string != None %}
        The web page has taken in a list object and will display<br>
        each element for us to see...<br><br>
            {% for element in parsed_string %}
               -> [{{element}}] <br>
            {% endfor %}
            <br>
            <br>
            <b>
                This can be expanded to fit data of all types, and will be <br>
                a good way to dispay any information captured by the monitoring tool
                <br>
                <br>
            </b>
        {% endif %}
        
    </div>
</body>
{% endblock %}