{% extends "base.html" %}

{% block content %}
<h1>
    This is the home page for this example project!
</h1>
<body>
    <b>
    This is the page that the User is automatically routed too when <br>
    sent to this website. There are hyperlinks at the bottom of the <br>
    page that can be used to navigate the site <br><br>

    The Framework that we are using is a lightweight python tool called<br>
    Flask that is flexible enough to accomplish most projects of moderate<br>
    Scope. We will be able to easily accept and handle data from multiple <br>
    sources and process them in meaningful ways before serving the information<br>
    back to the User
    </b>
    <br><br>
</body>
{% endblock %}