{% extends "base.html" %}

{% block content %}
<h1>
    An Example of Multiple Input Fields
</h1>
<body>
    <form method="POST">
        <b>Text + Drop down menu</b><br><br>
        <b>Add Transaction</b> <br>
        $<input type="text" name="amount" placeholder="Transaction Amount" size="15">
        <select name="type">
            <option value="1">Credit</option>
            <option value="0">Debit</option>
        </select>
        
        <br>
        <br>
        <br>
        <b>Radio Buttons</b><br><br>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">Other</label>
        <br>
        <br>
        <b>Text + Protected Text</b><br><br>
        <b>Login</b><br>
        <input type="text" name="username" placeholder="Username"> <br>
        <input type="password" name="password" placeholder="Password"> <br>
    </form>
    <br>
    <br>
    <b>
    The framework can accept all types of user inputs that can be processed<br>
    in the backend by intelligent python scripts. </b><br><br>
</body>
{% endblock %}