{% extends "base.html" %}

{% block content %}
<style>
    table.event
    {
        position: relative;
        border:1px solid;
        display: block;
        height: 500px;
        width: 50%;
        /* margin: auto; */
        overflow-y: scroll;
        overflow-x: scroll; 
        border-collapse: collapse;
        /* border-collapse: separate; */
        border-spacing: 10px 0;

        /* margin: auto; */
    }
    table.modules
    {
        border:1px solid;
        width: 50%;
        overflow-y: scroll;
        overflow-x: scroll; 
        border-collapse: collapse;
        /* border-collapse: separate; */
        border-spacing: 10px 0;
    }
    th
    {
        position: sticky;
        text-align: left;
        overflow: hidden;
        width: 70;
        white-space: nowrap;
        top: 0;
        background: white;
        border: 1px solid #ddd;
        padding: 8px;
    }
    td 
    {
        text-align: left;
        overflow: hidden;
        width: 70;
        white-space: nowrap;
        border: 1px solid #ddd;
        padding: 8px;
    }


    /* tr:nth-child(even) {background-color: #f2f2f2;} */
    tr:hover {background-color:#ddd;}
</style>
<h1>
    Attack/Performance Monitoring Tool
</h1>
<body>
    <br>
    <br>
    <br>

    {% if active_queue != None and active_anomaly != None%}
    <table>
        <tr> 
            <th>Current Solution</th>
            <th><form method="POST">
                <input type="submit" name = "good_solution" value="Good Solution"> &nbsp &nbsp
                <input type="submit" name = "bad_solution" value="Bad Solution"><br>
                <input type="text" name = "delta_cs" placeholder="&Delta; CS" size="10">
        
            </form></th>
        </tr>
        <tr>
            <th>Solution</th>
            <th>Cost($)</th>
            <th>Runtime (ms)</th>
            <th>Resource Cost(mb)</th>
        </tr>
        <tr>
            <td>{{ active_queue[0].name }}</td>
            <td>{{ active_queue[0].cost }}</td>
            <td>{{ active_queue[0].time }}</td>
            <td>{{ active_queue[0].resource }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Active module: {{ active_anomaly.type }}</th>
        </tr>
        <tr><td>{{ active_queue }}</td></tr>
        <tr><td>{{ active_anomaly }}</td></tr>
    </table>
    {% endif %}
    
    {% if ready == True %}
    <form method="POST">
        <input type="submit" name = "get_anomaly" value="Generate Anomaly"><br>
    </form>
    {% else %}
    
    {% endif %}

    


    <div style="overflow-x: auto;">
        <b>Decision Modules</b><br>
        <table class="modules">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Solutions</th>
                </tr>
            </thead>
            <tbody>
                {% for module in model.Decision_unit_list %}
                <tr>
                    <td>{{ module.anomaly_type }}</td>
                    <td>{{ module.solution_tuple_list }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if anomalies != [] %}
    <div style="overflow-x: auto;">
        <b>Anomalies Detected</b><br>
        <table class="event">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Time</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Protocol</th>
                    <th>Length</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                {% for event in anomalies %}
                <tr>
                    <td>{{ event.type }}</td>
                    <td>{{ event.time }}</td>
                    <td>{{ event.source }}</td>
                    <td>{{ event.destination }}</td>
                    <td>{{ event.protocol }}</td>
                    <td>{{ event.length }}</td>
                    <td>{{ event.info }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if solutions != [] %}

    <div style="overflow-x: auto;">
        <b>Solution Implemented</b><br>
        <table class="event">
            <thead>
                <tr>
                    <th>Solution</th>
                    <th>Cost($)</th>
                    <th>Runtime (ms)</th>
                    <th>Resource Cost(mb)</th>
                </tr>
            </thead>
            <tbody>
                {% for solution in solutions %}
                <tr>
                    <td>{{ solution.name }}</td>
                    <td>{{ solution.cost }}</td>
                    <td>{{ solution.time }}</td>
                    <td>{{ solution.resource }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% endif %}

</body>
{% endblock %}